---
const aboutData = [
  {
    title: "2009-2011",
    subtitle: "Our Humble Beginnings",
    body: "Lorem ipsum dolor 1 sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!",
    image: {
      link: "assets/img/about/1.jpg",
      alt: "...",
    },
  },
  {
    title: "March 2011",
    subtitle: "An Agency is Born",
    body: "Lorem ipsum dolor 2 sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!",
    image: {
      link: "assets/img/about/2.jpg",
      alt: "...",
    },
  },
  {
    title: "December 2015",
    subtitle: "Transition to Full Service",
    body: "Lorem ipsum dolor 3 sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!",
    image: {
      link: "assets/img/about/3.jpg",
      alt: "...",
    },
  },
  {
    title: "July 2020",
    subtitle: "Phase Two Expansion",
    body: "Lorem ipsum dolor 4 sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!",
    image: {
      link: "assets/img/about/4.jpg",
      alt: "...",
    },
  },
];
---

<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">About</h2>
      <h3 class="section-subheading text-muted">
        Lorem ipsum dolor sit amet consectetur.
      </h3>
    </div>
    <ul class="timeline">
      {
        aboutData.map((item, index) => (
          <li class:list={[`${index % 2 === 1 ? "timeline-inverted" : ""}`]}>
            <div class="timeline-image">
              <img
                class="rounded-circle img-fluid"
                src={item.image.link}
                alt="..."
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>{item.title}</h4>
                <h4 class="subheading">{item.subtitle}</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">{item.body}</p>
              </div>
            </div>
          </li>
        ))
      }
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Be Part<br />Of Our<br />Story!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>;
