---
const mastheadDetails = {
  heading: "Welcome To Our Studio!",
  body: "It's Nice To Meet You",
  link: "Tell Me More",
};
---

<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">{mastheadDetails.heading}</div>
    <div class="masthead-heading text-uppercase">{mastheadDetails.body}</div>
    <a class="btn btn-primary btn-xl text-uppercase" href="#services">
      {mastheadDetails.link}
    </a>
  </div>
</header>
