---
import Default from "./Default.astro";
import HeroSection from "../components/HeroSection.astro";
const { title } = Astro.props;
const { heroImage } = Astro.props;
---

<Default title={`${title} - StartBootstrap`}>
  <HeroSection title={title} heroImage={heroImage} />
  <section class="py-4">
    <div class="container">
      <slot />
    </div>
  </section>
</Default>
